body {
    background-image: url("record.png");
    margin: 0px;
}

header {
    background-color: navy;
    color: white;
    text-align: center;
}

main {
    background-color: lightgrey;
    padding: 1em;
}